#grid {
    position: absolute;
    width: 400px;
    height: 400px;
    border: solid red 20px;
    display: flex;
    flex-wrap: wrap;
    transition: 1s;
}

.column {
    position: relative;
    z-index: 999;
    width: 80px;
    height: 400px;
}

.field {
    position: relative;
    z-index: 99;
    width: 80px;
    height: 80px;
    transform: translateY(-1000%);
}

.circle {
    border-radius: 80px;
    transform: translateY(-500%);
    transition: 1s;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}